NODE_ENV=development
PORT=3000
MONGODB_URI=
JWT_SECRET_KEY=
OPENAI_API_KEY=
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=
BACKEND_PUBLIC_URL=http://localhost:3000
SOCKET_SERVER_URL=
AWS_REGION=ap-south-1
S3_BUCKET=
